// width is equal to 3 squares + spacing
$spacing: 20px;
body {
  margin: 0px;
}

.rouletteContainer {
  span {
    display: block;
    float: left;
    background-color: gray;
    &:hover{
      cursor: pointer;
    }
  }
  .rouletteMain {
    background-color: gray;
    width: 320px;
    height: 740px;
    .spacer {
      width: $spacing;
      height: 40px;
      &:hover {
        transition: background-color 0.2s ease-in-out;
        background-color: yellow;
      }
    }
    .spacer-small {
      width: $spacing;
      height: 20px;
      &:hover {
        transition: background-color 0.2s ease-in-out;
        background-color: yellow;
      }
    }
    .spacer-square {
      height: 20px;
      width: 80px;
      &:hover {
        transition: background-color 0.2s ease-in-out;
        background-color: yellow;
      }
    }
    .square {
      text-align: center;
      width: 80px;
      height: 40px;
      color: white;
      &.odd {
        background-color: red;
        &:hover {
          transition: background-color 0.2s ease-in-out;
          background-color: yellow;
        }
      }
      &.even {
        background-color: black;
        &:hover {
          transition: background-color 0.2s ease-in-out;
          background-color: yellow;
        }
      }
    }
  }
  .rouletteSide {
    color: white;
    height: 80px;
    width: 150px;
    position: absolute;
    top: 48px;
    left: 328px;
    height: 740px;
    .sideSection {
      height: 246px;
      margin-bottom: 1px;
      .dozen {
        width: 100px;
        height: 246px;
        float: left;
        &:hover {
          transition: background-color 0.2s ease-in-out;
          background-color: yellow;
          cursor: pointer;
        }
      }
      .double-square {
        width: 50px;
        height: 123px;
        float: left;
        &:hover {
          transition: background-color 0.2s ease-in-out;
          background-color: yellow;
          cursor: pointer;
        }
      }
    }
    .rouletteTop {
      background-color: purple;
    }
    .rouletteMiddle {
      background-color: palegreen;
    }
    .rouletteBottom {
      background-color: blue;
    }
  } // denotes the triple width 0 at the top
  .w3 {
    width: 320px;
    height: 40px;
    text-align: center;
    background-color: green;
    &:hover {
      transition: background-color 0.2s ease-in-out;
      background-color: yellow;
    }
  }
}

.chipStackContainer {
  position: absolute;
  top: 8px;
  left: 600px;
  width: 100px;
}
