<div class="rouletteContainer">
  <span (click)="createChipStack({values:['0'], location:'pocket-0'})" id="pocket-0" class="w3">0</span>
  <div class="rouletteMain">
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer-square"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer-square"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer-square"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer"></span>
    <span (click)="createChipStack({values:['1'], location:'pocket-1'})" id="pocket-1" class="square odd">1</span>
    <span (click)="createChipStack()"class="spacer"></span>
    <span (click)="createChipStack({values:['2'], location:'pocket-2'})" id="pocket-2" class="square even">2</span>
    <span (click)="createChipStack()"class="spacer"></span>
    <span (click)="createChipStack({values:['3'], location:'pocket-3'})" id="pocket-3" class="square odd">3</span>
    <span (click)="createChipStack()"class="spacer"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer-square"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer-square"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer-square"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer"></span>
    <span (click)="createChipStack({values:['4'], location:'pocket-4'})" id="pocket-4" class="square even">4</span>
    <span (click)="createChipStack()"class="spacer"></span>
    <span (click)="createChipStack({values:['5'], location:'pocket-5'})" id="pocket-5" class="square odd">5</span>
    <span (click)="createChipStack()"class="spacer"></span>
    <span (click)="createChipStack({values:['6'], location:'pocket-6'})" id="pocket-6" class="square even">6</span>
    <span (click)="createChipStack()"class="spacer"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer-square"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer-square"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer-square"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer"></span>
    <span (click)="createChipStack({values:['7'], location:'pocket-7'})" id="pocket-7" class="square odd">7</span>
    <span (click)="createChipStack()"class="spacer"></span>
    <span (click)="createChipStack({values:['8'], location:'pocket-8'})" id="pocket-8" class="square even">8</span>
    <span (click)="createChipStack()"class="spacer"></span>
    <span (click)="createChipStack({values:['9'], location:'pocket-9'})" id="pocket-9" class="square odd">9</span>
    <span (click)="createChipStack()"class="spacer"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer-square"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer-square"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer-square"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer"></span>
    <span (click)="createChipStack({values:['10'], location:'pocket-10'})" id="pocket-10" class="square even">10</span>
    <span (click)="createChipStack()"class="spacer"></span>
    <span (click)="createChipStack({values:['11'], location:'pocket-11'})" id="pocket-11" class="square odd">11</span>
    <span (click)="createChipStack()"class="spacer"></span>
    <span (click)="createChipStack({values:['12'], location:'pocket-12'})" id="pocket-12" class="square even">12</span>
    <span (click)="createChipStack()"class="spacer"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer-square"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer-square"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer-square"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer"></span>
    <span (click)="createChipStack({values:['13'], location:'pocket-13'})" id="pocket-13" class="square odd">13</span>
    <span (click)="createChipStack()"class="spacer"></span>
    <span (click)="createChipStack({values:['14'], location:'pocket-14'})" id="pocket-14" class="square even">14</span>
    <span (click)="createChipStack()"class="spacer"></span>
    <span (click)="createChipStack({values:['15'], location:'pocket-15'})" id="pocket-15" class="square odd">15</span>
    <span (click)="createChipStack()"class="spacer"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer-square"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer-square"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer-square"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer"></span>
    <span (click)="createChipStack({values:['16'], location:'pocket-16'})" id="pocket-16" class="square even">16</span>
    <span (click)="createChipStack()"class="spacer"></span>
    <span (click)="createChipStack({values:['17'], location:'pocket-17'})" id="pocket-17" class="square odd">17</span>
    <span (click)="createChipStack()"class="spacer"></span>
    <span (click)="createChipStack({values:['18'], location:'pocket-18'})" id="pocket-18" class="square even">18</span>
    <span (click)="createChipStack()"class="spacer"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer-square"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer-square"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer-square"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer"></span>
    <span (click)="createChipStack({values:['19'], location:'pocket-19'})" id="pocket-19" class="square odd">19</span>
    <span (click)="createChipStack()"class="spacer"></span>
    <span (click)="createChipStack({values:['20'], location:'pocket-20'})" id="pocket-20" class="square even">20</span>
    <span (click)="createChipStack()"class="spacer"></span>
    <span (click)="createChipStack({values:['21'], location:'pocket-21'})" id="pocket-21" class="square odd">21</span>
    <span (click)="createChipStack()"class="spacer"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer-square"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer-square"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer-square"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer"></span>
    <span (click)="createChipStack({values:['22'], location:'pocket-22'})" id="pocket-22" class="square even">22</span>
    <span (click)="createChipStack()"class="spacer"></span>
    <span (click)="createChipStack({values:['23'], location:'pocket-23'})" id="pocket-23" class="square odd">23</span>
    <span (click)="createChipStack()"class="spacer"></span>
    <span (click)="createChipStack({values:['24'], location:'pocket-24'})" id="pocket-24" class="square even">24</span>
    <span (click)="createChipStack()"class="spacer"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer-square"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer-square"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer-square"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer"></span>
    <span (click)="createChipStack({values:['25'], location:'pocket-25'})" id="pocket-25" class="square odd">25</span>
    <span (click)="createChipStack()"class="spacer"></span>
    <span (click)="createChipStack({values:['266'], location:'pocket-26'})" id="pocket-26" class="square even">26</span>
    <span (click)="createChipStack()"class="spacer"></span>
    <span (click)="createChipStack({values:['27'], location:'pocket-27'})" id="pocket-27" class="square odd">27</span>
    <span (click)="createChipStack()"class="spacer"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer-square"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer-square"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer-square"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer"></span>
    <span (click)="createChipStack({values:['28'], location:'pocket-28'})" id="pocket-28" class="square even">28</span>
    <span (click)="createChipStack()"class="spacer"></span>
    <span (click)="createChipStack({values:['29'], location:'pocket-29'})" id="pocket-29" class="square odd">29</span>
    <span (click)="createChipStack()"class="spacer"></span>
    <span (click)="createChipStack({values:['30'], location:'pocket-30'})" id="pocket-30" class="square even">30</span>
    <span (click)="createChipStack()"class="spacer"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer-square"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer-square"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer-square"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer"></span>
    <span (click)="createChipStack({values:['31'], location:'pocket-31'})" id="pocket-31" class="square odd">31</span>
    <span (click)="createChipStack()"class="spacer"></span>
    <span (click)="createChipStack({values:['32'], location:'pocket-32'})" id="pocket-32" class="square even">32</span>
    <span (click)="createChipStack()"class="spacer"></span>
    <span (click)="createChipStack({values:['33'], location:'pocket-33'})" id="pocket-33" class="square odd">33</span>
    <span (click)="createChipStack()"class="spacer"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer-square"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer-square"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer-square"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer"></span>
    <span (click)="createChipStack({values:['34'], location:'pocket-34'})" id="pocket-34" class="square even">34</span>
    <span (click)="createChipStack()"class="spacer"></span>
    <span (click)="createChipStack({values:['35'], location:'pocket-35'})" id="pocket-35" class="square odd">35</span>
    <span (click)="createChipStack()"class="spacer"></span>
    <span (click)="createChipStack({values:['36'], location:'pocket-36'})" id="pocket-36" class="square even">36</span>
    <span (click)="createChipStack()"class="spacer"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer-square"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer-square"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
    <span (click)="createChipStack()"class="spacer-square"></span>
    <span (click)="createChipStack()"class="spacer-small"></span>
  </div>
  <div class="rouletteSide">
    <div class="rouletteTop sideSection">
      <div (click)="createChipStack()" class="dozen">First dozen</div>
      <div (click)="createChipStack()" class="double-square">1-18</div>
      <div (click)="createChipStack()" class="double-square">Even</div>
    </div>
    <div class="rouletteMiddle sideSection">
      <div (click)="createChipStack()" class="dozen">Second dozen</div>
      <div (click)="createChipStack()" class="double-square">Red</div>
      <div (click)="createChipStack()" class="double-square">Black</div>
    </div>
    <div class="rouletteBottom sideSection">
      <div (click)="createChipStack()" class="dozen">Third dozen</div>
      <div (click)="createChipStack()" class="double-square">Odd</div>
      <div (click)="createChipStack()" class="double-square">19-36</div>
    </div>
  </div>
</div>

<div class="chipStackContainer">
  <ul>
    <li class="chipStack" *ngFor='let chipStack of chips;'>
      <span>location: {{chipStack.location}}</span>
      <label>number of chips:</label> <input type="number" [value]="chipStack.numberOfChips" name="" id="">

    </li>
  </ul>
</div>
